.navbar * {
  cursor: none !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #6464645d;
    color: rgb(150, 150, 150);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    cursor: none !important;
    font-family: 'Open Sans';
    font-style: bolder;
}

.navbar .glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.37);
}
  
  .navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.75rem;
  }
  
  .navbar-subline {
    color: white;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  
  .navbar-button {
    color: rgb(230, 230, 230);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    letter-spacing: 0;
    border-radius: 5px;
    transition: background-color 0.45s, color 0.45s, font-size 0.45s;
    position: relative;
    overflow: hidden;
    align-items: center;
  }
  
  .navbar-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: white;
    
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 350ms ease-in-out;
  }
  
  .navbar-button:hover::after {
    width: 100%;
    
  }
  
  .navbar-button:hover {
    background-color: rgba(112, 0, 0, 0);
    color: #3dcbfec7;
    text-shadow: 0 0 2px #3dcbfec7;
    font-size: 1.35rem;
    transition: font-size 0.8s ease-in-out;
    transition: color 0.3s ease-in-out;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center; /* Center the navbar */
      
      background-color: rgba(0, 0, 0, 0.501);
    }

    .navbar-logo a {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
      font-size: 1rem;
      
      align-self: right; /* Center the icon */
      
    }
  
    .navbar-toggle img {
      align-self: right; /* Center the icon */
      
      width: 25px; /* Adjust the size as needed */
      height: 25px; /* Adjust the size as needed */
    }
  
    .navbar-links {
      flex-direction: row;
      
      display: none;
      align-items: center; /* Center the buttons */
      justify-content: center;
    
      
    }
  
    .navbar-links.open {
      display: flex;
      flex-direction: column;
    }
  
    .navbar-links li {
      
      text-align: center;
      justify-content: center;
      
    }
  
    .navbar-button {
      width: 80%; /* Adjust width to center the buttons */
      padding: 0.35rem 0.5rem; /* Add padding to the buttons */
      margin-right: 2rem;
      color: rgb(255, 255, 255);
    }
  }
  
  @media (min-width: 769px) {
    .navbar-toggle {
      display: none;
    }
  }
  